################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ExpenseTracker/FileContentIndex/5f6f6201-b1a1-430b-bdb0-b3718659a870.vsidx
